<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
	  <h1>Welcome to the Brutchinson Residence</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Music</h3>
			<img src="{{ louise_image }}" alt="Louise Image" width = '300' height = 'auto' >
		</div>
		<div class="col-sm-4">
		        <h3>Gallery</h3>
			<img src="{{ penny_image }}" alt="Penny Image" width = '300' height = 'auto' >
	        </div>
	        <div class="col-sm-4">
	        	<h3>Useful Tools</h3>
			<img src="{{ louise_image }}" alt="Louise Image" width = '300' height = 'auto' >
	        </div>
        </div>
</div>
<body>
</body>
</html>
